@font-face {
    font-family: 'wish_icon';
    src:    url('fonts/wish_icon.eot?exy9y8');
    src:    url('fonts/wish_icon.eot?exy9y8#iefix') format('embedded-opentype'),
        url('fonts/wish_icon.ttf?exy9y8') format('truetype'),
        url('fonts/wish_icon.woff?exy9y8') format('woff'),
        url('fonts/wish_icon.svg?exy9y8#wish_icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="wish_"], [class*=" wish_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wish_icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wish_yunying_manage:before {
    content: "\ea6f";
}
.wish_business_manage:before {
    content: "\ea6e";
}
.wish_storage_device:before {
    content: "\ea59";
}
.wish_telecom_logo:before {
    content: "\ea5a";
}
.wish_order_manage:before {
    content: "\ea5b";
}
.wish_role_manage:before {
    content: "\ea5c";
}
.wish_quotas_manage:before {
    content: "\ea5d";
}
.wish_move_plan:before {
    content: "\ea5e";
}
.wish_move_apply:before {
    content: "\ea5f";
}
.wish_net_device:before {
    content: "\ea60";
}
.wish_xuni_ips:before {
    content: "\ea61";
}
.wish_xuni_vpn:before {
    content: "\ea62";
}
.wish_xuni_waf:before {
    content: "\ea63";
}
.wish_xuni_anti_virus:before {
    content: "\ea64";
}
.wish_xuniji:before {
    content: "\ea65";
}
.wish_xuni_disk:before {
    content: "\ea66";
}
.wish_business_overview:before {
    content: "\ea67";
}
.wish_business_list:before {
    content: "\ea68";
}
.wish_resource_topu:before {
    content: "\ea69";
}
.wish_yidong:before {
    content: "\ea6a";
}
.wish_cloud_fire:before {
    content: "\ea6b";
}
.wish_resource_allot:before {
    content: "\ea6c";
}
.wish_organise_manage:before {
    content: "\ea6d";
}
.wish_procedure_dispose_ing:before {
    content: "\ea57";
}
.wish_procedure_dispose_wait:before {
    content: "\ea58";
}
.wish_add:before {
    content: "\ea56";
}
.wish_provider:before {
    content: "\ea53";
}
.wish_provider_platform:before {
    content: "\ea54";
}
.wish_provider_add:before {
    content: "\ea55";
}
.wish_resource_manage:before {
    content: "\ea4f";
}
.wish_operations_manage:before {
    content: "\ea50";
}
.wish_operation_manage:before {
    content: "\ea51";
}
.wish_safer_manage:before {
    content: "\ea52";
}
.wish_order_wrong:before {
    content: "\ea4a";
}
.wish_order_ok:before {
    content: "\ea4b";
}
.wish_fanghuoqian:before {
    content: "\ea4c";
}
.wish_router:before {
    content: "\ea4d";
}
.wish_yuandian:before {
    content: "\ea4e";
}
.wish_vm:before {
    content: "\e9b2";
}
.wish_memory:before {
    content: "\e9b1";
}
.wish_hard_disk:before {
    content: "\e9b6";
}
.wish_vpn:before {
    content: "\e9b4";
}
.wish_aggregates:before {
    content: "\e9b0";
}
.wish_loadbalancers:before {
    content: "\e9b5";
}
.wish_volumes:before {
    content: "\e9b7";
}
.wish_install:before {
    content: "\e9b8";
}
.wish_drive:before {
    content: "\e9b9";
}
.wish_storage:before {
    content: "\e9b3";
}
.wish_save:before {
    content: "\e99f";
}
.wish_flash-sd:before {
    content: "\e93b";
}
.wish_storage-sd:before {
    content: "\e9a0";
}
.wish_pincode:before {
    content: "\e9ae";
}
.wish_server:before {
    content: "\e9af";
}
.wish_database:before {
    content: "\e9bc";
}
.wish_wall:before {
    content: "\e9ba";
}
.wish_firewall:before {
    content: "\e946";
}
.wish_server-m:before {
    content: "\e941";
}
.wish_server-o:before {
    content: "\e950";
}
.wish_kernel:before {
    content: "\e973";
}
.wish_cpu:before {
    content: "\e951";
}
.wish_modem:before {
    content: "\e9bd";
}
.wish_security:before {
    content: "\e9a1";
}
.wish_shield:before {
    content: "\e9a3";
}
.wish_firewalls:before {
    content: "\e9ad";
}
.wish_shield-fill:before {
    content: "\e9a2";
}
.wish_shield-arr:before {
    content: "\e9f2";
}
.wish_shield-star:before {
    content: "\ea01";
}
.wish_radio-tower:before {
    content: "\ea02";
}
.wish_ip:before {
    content: "\ea45";
}
.wish_vpn-lock:before {
    content: "\e9a4";
}
.wish_network:before {
    content: "\e996";
}
.wish_public_network:before {
    content: "\e986";
}
.wish_cluster:before {
    content: "\e99e";
}
.wish_storage-size:before {
    content: "\e99d";
}
.wish_load_balancer:before {
    content: "\e99c";
}
.wish_swap:before {
    content: "\e9dd";
}
.wish_images:before {
    content: "\e972";
}
.wish_cd:before {
    content: "\ea46";
}
.wish_rocket-fill:before {
    content: "\e999";
}
.wish_keypairs:before {
    content: "\e9ab";
}
.wish_high-available:before {
    content: "\e9ac";
}
.wish_road:before {
    content: "\e9a9";
}
.wish_change-order:before {
    content: "\e9a8";
}
.wish_power:before {
    content: "\e992";
}
.wish_logs:before {
    content: "\e97d";
}
.wish_subnets:before {
    content: "\e9c0";
}
.wish_sitemap:before {
    content: "\e9c2";
}
.wish_composite:before {
    content: "\e9bf";
}
.wish_power-cord:before {
    content: "\e993";
}
.wish_setting:before {
    content: "\e9bb";
}
.wish_cog1:before {
    content: "\ea03";
}
.wish_cogs:before {
    content: "\ea04";
}
.wish_loop-alt:before {
    content: "\e9a5";
}
.wish_shuffle:before {
    content: "\e9a6";
}
.wish_reboot:before {
    content: "\e915";
}
.wish_recycle:before {
    content: "\e9a7";
}
.wish_unfold:before {
    content: "\ea05";
}
.wish_share:before {
    content: "\e9c1";
}
.wish_wrench:before {
    content: "\e9f3";
}
.wish_gailan:before {
    content: "\e9aa";
}
.wish_meter:before {
    content: "\e982";
}
.wish_dashboard:before {
    content: "\ea06";
}
.wish_gauge:before {
    content: "\ea07";
}
.wish_radio:before {
    content: "\e997";
}
.wish_auditor:before {
    content: "\e9ca";
}
.wish_safer:before {
    content: "\e9cb";
}
.wish_manager:before {
    content: "\e9cc";
}
.wish_user-boy:before {
    content: "\e9cd";
}
.wish_user-girl:before {
    content: "\e9ce";
}
.wish_iconfont-user1:before {
    content: "\ea47";
}
.wish_user:before {
    content: "\e9cf";
}
.wish_man:before {
    content: "\ea08";
}
.wish_iconfont-icon3:before {
    content: "\ea48";
}
.wish_user-secret:before {
    content: "\e9d4";
}
.wish_group:before {
    content: "\e9d0";
}
.wish_wc:before {
    content: "\ea09";
}
.wish_male:before {
    content: "\e9d1";
}
.wish_woman:before {
    content: "\e9d2";
}
.wish_child:before {
    content: "\e9d3";
}
.wish_symbol-b:before {
    content: "\ea0a";
}
.wish_symbol-g:before {
    content: "\ea0b";
}
.wish_home:before {
    content: "\e970";
}
.wish_email-open:before {
    content: "\e952";
}
.wish_email:before {
    content: "\e953";
}
.wish_stock:before {
    content: "\ea0c";
}
.wish_area-chart:before {
    content: "\e98e";
}
.wish_area-graph:before {
    content: "\e991";
}
.wish_pie-chart:before {
    content: "\e98f";
}
.wish_chart:before {
    content: "\e990";
}
.wish_stats-bars:before {
    content: "\ea0d";
}
.wish_picassa:before {
    content: "\e98d";
}
.wish_zongliang:before {
    content: "\e9c3";
}
.wish_resource:before {
    content: "\e9c7";
}
.wish_log_manage:before {
    content: "\e9c4";
}
.wish_order:before {
    content: "\e9c5";
}
.wish_bohui:before {
    content: "\e9c6";
}
.wish_library-books:before {
    content: "\e9c8";
}
.wish_tablet-mac:before {
    content: "\e9de";
}
.wish_laptop:before {
    content: "\e976";
}
.wish_devices:before {
    content: "\e9df";
}
.wish_laptop1:before {
    content: "\ea0e";
}
.wish_keyboard:before {
    content: "\e975";
}
.wish_mouse:before {
    content: "\e984";
}
.wish_soundcloud:before {
    content: "\e94d";
}
.wish_sellsy:before {
    content: "\e94e";
}
.wish_cloud:before {
    content: "\e943";
}
.wish_download:before {
    content: "\e94c";
}
.wish_cloud_provider:before {
    content: "\e9ed";
}
.wish_cloud-download:before {
    content: "\ea0f";
}
.wish_cloud-upload:before {
    content: "\ea10";
}
.wish_locked:before {
    content: "\e9ec";
}
.wish_unlocked:before {
    content: "\e9eb";
}
.wish_verified-user:before {
    content: "\e9ee";
}
.wish_plus:before {
    content: "\e901";
}
.wish_clear:before {
    content: "\e902";
}
.wish_arr-top:before {
    content: "\e903";
}
.wish_arr-down:before {
    content: "\e904";
}
.wish_arr-left:before {
    content: "\e905";
}
.wish_arr-right:before {
    content: "\e906";
}
.wish_arrow-up:before {
    content: "\e9ff";
}
.wish_arrow-down:before {
    content: "\e907";
}
.wish_arrow-left:before {
    content: "\ea00";
}
.wish_arrow-right:before {
    content: "\e908";
}
.wish_power-down:before {
    content: "\e909";
}
.wish_plus-o:before {
    content: "\e90a";
}
.wish_minus-o:before {
    content: "\e90b";
}
.wish_alarm_clock:before {
    content: "\e90c";
}
.wish_cancel-o:before {
    content: "\e90d";
}
.wish_help-o:before {
    content: "\e90e";
}
.wish_notification2:before {
    content: "\e90f";
}
.wish_issue-reopened:before {
    content: "\ea11";
}
.wish_question-o:before {
    content: "\e910";
}
.wish_compass-o:before {
    content: "\e911";
}
.wish_yen-o:before {
    content: "\e912";
}
.wish_disturb-o:before {
    content: "\e913";
}
.wish_check-o:before {
    content: "\e914";
}
.wish_play-o:before {
    content: "\e916";
}
.wish_pause-o:before {
    content: "\e917";
}
.wish_stop-o:before {
    content: "\e918";
}
.wish_previous-o:before {
    content: "\e919";
}
.wish_backward-o:before {
    content: "\e91a";
}
.wish_forward-o:before {
    content: "\e91b";
}
.wish_next-o:before {
    content: "\e91c";
}
.wish_circle-up-o:before {
    content: "\e91d";
}
.wish_circle-down-o:before {
    content: "\e91e";
}
.wish_circle-left-o:before {
    content: "\e91f";
}
.wish_circle-right-o:before {
    content: "\e920";
}
.wish_smile-o:before {
    content: "\e921";
}
.wish_sad-o:before {
    content: "\e922";
}
.wish_target:before {
    content: "\ea12";
}
.wish_sports-club:before {
    content: "\ea13";
}
.wish_cancel-fill:before {
    content: "\e923";
}
.wish_enable:before {
    content: "\e924";
}
.wish_plus-fill:before {
    content: "\e925";
}
.wish_minus-fill:before {
    content: "\e926";
}
.wish_stars:before {
    content: "\e927";
}
.wish_explore:before {
    content: "\e928";
}
.wish_notification:before {
    content: "\e929";
}
.wish_info-fill:before {
    content: "\e92a";
}
.wish_warning:before {
    content: "\e9f0";
}
.wish_warn:before {
    content: "\e9f1";
}
.wish_loading:before {
    content: "\e92b";
}
.wish_rotate:before {
    content: "\e92c";
}
.wish_cycle:before {
    content: "\e92d";
}
.wish_spinner:before {
    content: "\e92e";
}
.wish_search:before {
    content: "\ea14";
}
.wish_search1:before {
    content: "\ea15";
}
.wish_first:before {
    content: "\e92f";
}
.wish_previous:before {
    content: "\e930";
}
.wish_backward:before {
    content: "\e931";
}
.wish_forward:before {
    content: "\e932";
}
.wish_next:before {
    content: "\e933";
}
.wish_last:before {
    content: "\e934";
}
.wish_reply:before {
    content: "\e935";
}
.wish_reply-all:before {
    content: "\e936";
}
.wish_keyboard-return:before {
    content: "\ea16";
}
.wish_resize:before {
    content: "\ea17";
}
.wish_resize-big:before {
    content: "\ea18";
}
.wish_delete:before {
    content: "\e937";
}
.wish_trashcan:before {
    content: "\e938";
}
.wish_book:before {
    content: "\e939";
}
.wish_calculator:before {
    content: "\e93a";
}
.wish_camera:before {
    content: "\ea19";
}
.wish_camera1:before {
    content: "\e93c";
}
.wish_brightness:before {
    content: "\ea1a";
}
.wish_brightness-sun:before {
    content: "\ea1b";
}
.wish_brightness-medium:before {
    content: "\ea1c";
}
.wish_music:before {
    content: "\ea1d";
}
.wish_rss:before {
    content: "\e93e";
}
.wish_connection:before {
    content: "\e945";
}
.wish_feed:before {
    content: "\ea1e";
}
.wish_chat:before {
    content: "\e93f";
}
.wish_chat1:before {
    content: "\e940";
}
.wish_chrome-reader:before {
    content: "\e942";
}
.wish_layers:before {
    content: "\e977";
}
.wish_stack:before {
    content: "\e9d6";
}
.wish_operate:before {
    content: "\e989";
}
.wish_colours:before {
    content: "\e944";
}
.wish_credit-card:before {
    content: "\e947";
}
.wish_cc-visa:before {
    content: "\e948";
}
.wish_cart-down:before {
    content: "\e949";
}
.wish_diamond:before {
    content: "\e94b";
}
.wish_rocket:before {
    content: "\e94f";
}
.wish_folder:before {
    content: "\e954";
}
.wish_folder-open:before {
    content: "\e955";
}
.wish_folder_shared:before {
    content: "\e956";
}
.wish_folder-special:before {
    content: "\e957";
}
.wish_folder-plus:before {
    content: "\e958";
}
.wish_archive:before {
    content: "\e9be";
}
.wish_folder-images:before {
    content: "\e959";
}
.wish_gift:before {
    content: "\e95a";
}
.wish_suitcase:before {
    content: "\e9da";
}
.wish_fire:before {
    content: "\e95b";
}
.wish_enter:before {
    content: "\e95c";
}
.wish_exit:before {
    content: "\e95d";
}
.wish_extension:before {
    content: "\e95e";
}
.wish_eye:before {
    content: "\e95f";
}
.wish_favorite-fill:before {
    content: "\e960";
}
.wish_favorite:before {
    content: "\e961";
}
.wish_heartbeat:before {
    content: "\e962";
}
.wish_heart-broken:before {
    content: "\ea1f";
}
.wish_star:before {
    content: "\e9d7";
}
.wish_star-outline:before {
    content: "\e9d8";
}
.wish_tag7:before {
    content: "\ea20";
}
.wish_file-archive:before {
    content: "\e964";
}
.wish_file-audio:before {
    content: "\e965";
}
.wish_file-code:before {
    content: "\e966";
}
.wish_file-excel:before {
    content: "\e967";
}
.wish_file-image:before {
    content: "\e968";
}
.wish_file-movie:before {
    content: "\e969";
}
.wish_file-pdf:before {
    content: "\e96a";
}
.wish_file-ppt:before {
    content: "\e96b";
}
.wish_file-word:before {
    content: "\e96c";
}
.wish_film:before {
    content: "\ea21";
}
.wish_image:before {
    content: "\ea22";
}
.wish_flag:before {
    content: "\e96d";
}
.wish_google-drive:before {
    content: "\e96e";
}
.wish_graduation-cap:before {
    content: "\e96f";
}
.wish_calendar:before {
    content: "\e900";
}
.wish_fax:before {
    content: "\e963";
}
.wish_old-phone:before {
    content: "\e988";
}
.wish_phone:before {
    content: "\e98c";
}
.wish_print:before {
    content: "\e994";
}
.wish_pwd:before {
    content: "\e974";
}
.wish_attraction:before {
    content: "\e978";
}
.wish_florist:before {
    content: "\e979";
}
.wish_camera4:before {
    content: "\ea23";
}
.wish_location:before {
    content: "\e97b";
}
.wish_location-city:before {
    content: "\e97c";
}
.wish_build:before {
    content: "\ea24";
}
.wish_build11:before {
    content: "\ea25";
}
.wish_map:before {
    content: "\e97e";
}
.wish_awareness-ribbon:before {
    content: "\ea26";
}
.wish_umbrella4:before {
    content: "\ea27";
}
.wish_medal:before {
    content: "\e97f";
}
.wish_badge:before {
    content: "\e980";
}
.wish_medal-fill:before {
    content: "\e981";
}
.wish_more:before {
    content: "\e983";
}
.wish_navigation:before {
    content: "\e985";
}
.wish_notifications:before {
    content: "\e987";
}
.wish_paper-plane:before {
    content: "\e98a";
}
.wish_perm-scan-wifi:before {
    content: "\e98b";
}
.wish_profile:before {
    content: "\e995";
}
.wish_recent-actors:before {
    content: "\e998";
}
.wish_nav:before {
    content: "\e99a";
}
.wish_school:before {
    content: "\e99b";
}
.wish_newspaper:before {
    content: "\e9c9";
}
.wish_shopping-cart:before {
    content: "\e9d5";
}
.wish_quote5:before {
    content: "\ea28";
}
.wish_style:before {
    content: "\e9d9";
}
.wish_assignment-ind:before {
    content: "\e9db";
}
.wish_addressbook:before {
    content: "\e9dc";
}
.wish_dashboard1:before {
    content: "\e94a";
}
.wish_table:before {
    content: "\e9e0";
}
.wish_three-bars:before {
    content: "\e9e1";
}
.wish_sort:before {
    content: "\ea29";
}
.wish_th:before {
    content: "\ea2a";
}
.wish_th-list:before {
    content: "\ea2b";
}
.wish_list:before {
    content: "\e9e2";
}
.wish_thumb-down:before {
    content: "\e9e3";
}
.wish_thumb-up:before {
    content: "\e9e4";
}
.wish_pointer-top:before {
    content: "\ea2c";
}
.wish_pointer-down:before {
    content: "\ea2d";
}
.wish_pointer-left:before {
    content: "\ea2e";
}
.wish_pointer-right:before {
    content: "\ea2f";
}
.wish_toggle-off:before {
    content: "\e9e5";
}
.wish_toggle-on:before {
    content: "\e9e6";
}
.wish_insert-link:before {
    content: "\ea30";
}
.wish_un-link:before {
    content: "\e93d";
}
.wish_safe_group:before {
    content: "\ea31";
}
.wish_steam:before {
    content: "\ea32";
}
.wish_tools:before {
    content: "\e9e7";
}
.wish_traffic-cone:before {
    content: "\e9e8";
}
.wish_trophy-fill:before {
    content: "\e9e9";
}
.wish_trophy:before {
    content: "\e9ea";
}
.wish_volume:before {
    content: "\e9ef";
}
.wish_bullhorn:before {
    content: "\ea33";
}
.wish_microphone:before {
    content: "\ea34";
}
.wish_alarm:before {
    content: "\ea49";
}
.wish_account-box:before {
    content: "\e9f5";
}
.wish_yelp:before {
    content: "\e9f4";
}
.wish_futbol-o:before {
    content: "\ea35";
}
.wish_gamepad:before {
    content: "\ea36";
}
.wish_food:before {
    content: "\ea37";
}
.wish_tree:before {
    content: "\ea38";
}
.wish_gas-station:before {
    content: "\e97a";
}
.wish_aid-kit:before {
    content: "\ea39";
}
.wish_capsule:before {
    content: "\ea3a";
}
.wish_car:before {
    content: "\ea3b";
}
.wish_truck:before {
    content: "\ea3c";
}
.wish_ambulance:before {
    content: "\ea3d";
}
.wish_bus:before {
    content: "\ea3e";
}
.wish_subway:before {
    content: "\ea3f";
}
.wish_aircraft:before {
    content: "\ea40";
}
.wish_ship:before {
    content: "\ea41";
}
.wish_bug:before {
    content: "\e9f6";
}
.wish_hourglass:before {
    content: "\ea42";
}
.wish_hourglass1:before {
    content: "\ea43";
}
.wish_hourglass-full:before {
    content: "\ea44";
}
.wish_apple:before {
    content: "\e9f7";
}
.wish_android:before {
    content: "\e9f8";
}
.wish_windows:before {
    content: "\e9f9";
}
.wish_xp:before {
    content: "\e9fa";
}
.wish_ie:before {
    content: "\e9fb";
}
.wish_firefox:before {
    content: "\e9fc";
}
.wish_chrome:before {
    content: "\e9fd";
}
.wish_tencent:before {
    content: "\e9fe";
}
.wish_html5:before {
    content: "\e971";
}

