<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-user icon-white"></i> 管理员
				</a>
				<ul class="dropdown-menu">
					<li><a href="#springUrl('')/account"><i class="icon-book"></i> 个人信息</a></li>
					<li class="divider"></li>
					<li><a href="#springUrl('')/logout"><i class="icon-off"></i> 注销登录</a></li>
				</ul>
			</li>
		</ul>
		<a class="brand" href="#springUrl('')/">资源实时监控系统</a>
	</div>
</div>

