<table class="table table-bordered table-striped formLayout m0">
	<tr>
		<td>id:</td>
		<td>$!{userDemo.id}</td>
		<td>userName:</td>
		<td>$!{userDemo.userName}</td>
	</tr>
	<tr>
		<td>password:</td>
		<td>$!{userDemo.password}</td>
		<td>createdTime:</td>
		<td>$!{userDemo.createdTime}</td>
	</tr>
	<tr>
		<td>updatedTime:</td>
		<td>$!{userDemo.updatedTime}</td>
		<td>deletedTime:</td>
		<td>$!{userDemo.deletedTime}</td>
	</tr>
	<tr>
		<td>deleted:</td>
		<td colspan="3">$!{userDemo.deleted}</td>
	</tr>
</table>
